/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    display:inline-block ;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* LAYOUT */
.container{
    max-width: 100%;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

.col-4{
    position: relative;
    width: calc(4 * 100% / 12);
    padding: 15px;
}

/* STYLE */
.badge{
    position: absolute;
    display:inline-block ;
    color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    bottom: 45px;
    left: 15px;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
    
}

/*UTILITY*/

.left{
    left: 53px;
}