/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



img{
    max-width: 100%;

}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}



/* LAYOUT */
.container{
    max-width: 1000px;
    margin:auto;
}

.row-nav{
    max-width: 100%;
    max-height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    
}

.col-nav{
    width: calc(3 * 100% / 6);
    
}

.row-main{
    display: flex;
    flex-wrap: wrap;

}

.col-main{
    
    position: relative;
    width: calc(4 * 100% / 12);
    padding: 15px;
    
    
}

.col-foot{

    width: calc(2* 100% / 6);

}

.row-foot{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid white;
}

/* STYLE */
.badge{
    
    display:inline-block ;
    color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: 700;
    
}



.heart{
    position: absolute;
    display:inline-block ;
    padding: 5px;
    font-size: 30px;
    top: 20px;
    right: 15px;

}

.second-image{
   
    display: none;
    
    
}


.col-main:hover .main-image{
    display: none;
}

.col-main:hover .second-image{
    display: inline-block;
}

.heart:hover{
    color: red;
}

.nav-logo{
    max-width: 150px;
    padding: 10px 0;
}

.icone{
    font-size: 10px;
}

.pallino{
    padding: 3px;
    border: 1px solid white;
    border-radius: 100px;
}
/*UTILITY*/

.position{
    position: absolute;
    bottom: 100px;
    left: 15px;

}

.display{
    display: inline;
}

.left{
    left: 53px;
}

.line-height{
    
    line-height: 15px;
}

.line-through{
    text-decoration:line-through;
    font-size: 14px;
}

.font-size{
    font-size: 10px;
}

.grow{
    flex-grow: 1;
}

.padd-orizz{
    padding:0 170px;
}

.padd-vert{
    padding:20px 0;
}



.font-red{
    color: red;
}

.font-white{
    color: white;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
    
}

.bg-white{
    background-color: white;
}

.bg-orange{
    background-color: orange;
}

.bg-gray{
    background-color: #333;
}